<h3>Sample Component</h3>
<div>
    <a [routerLink]=" ['lifeCycle'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SampleLifeCycle</a>
    <a [routerLink]=" ['contentProjection'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SampleContentProjection</a>
    <a [routerLink]=" ['form'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SampleForm</a>
    <a [routerLink]=" ['modal'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SampleModal</a>
    <a [routerLink]=" ['tabs'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SampleTabs</a>
</div>
<router-outlet></router-outlet>