$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

/** APPLICATION VALUES */

$nav-button-color: #00838F;
$white:#fff;
$black: #000;
$red:#ff0;
$gray: #a7a7a7;
$light-gray:#ccc;
$medium-light-gray:#8a8a8a;
$medium-gray:#d1d1d1;
$dark-gray: #333;
$medium-dark-gray:#666;
$medium-blue:#004f87;
$medium-light-blue:#008ef4;
$dark-blue: #006bb8;